body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding-top: 100px;
}
.text-style {
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
  color: rgb(71, 68, 68);
  line-height: 80%;
  padding-left: 15px;
  border-left: 4px solid;
  border-color: orangered;
  border-image-slice: 1;
}
#mission {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
  padding-left: 200px;
}
.half-width {
  width: 50%;
}
.half-width img {
  width: 50%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(tomato, tomato);
  padding: 10px 40px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}
#scroll {
  margin-top: 50px;
}
#passage-1 {
  margin-bottom: 40px;
}
.second-section-heading {
  font-family: "Manrope", sans-serif;
  color: rgb(5, 5, 63);
  font-weight: bold;
  text-align: center;
}
#second-span {
  color: orange;
}
.three-elements {
  padding-right: 200px;
}
.three-elements img {
  width: 40%;
}
.mission {
  background-color: lightblue;
  border: 7px solid lightblue;
  border-radius: 10px;
  margin-right: 10px;
}
.vission {
  background-color: lightyellow;
  border: 7px solid lightyellow;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.goals {
  background-color: lightpink;
  border: 7px solid lightpink;
  border-radius: 10px;
  margin-left: 10px;
}
